
body{
    background-color: rgb(231, 201, 201);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    margin-left: 600px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: -50px;
}
.img{
    margin-left: -25px;
}
li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgb(131, 4, 4);
    transition: 0.3s all;
}


h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(114, 14, 14);
}

p{
    line-height: 40px;
    max-width: 1500px;
    font-family: poppinslight;
}


.footer-2 {
    color: #6b0404;
    height: 20px;
    margin-top: 10px;
    margin-left: -850px;
}
